{% extends 'base.html' %}

{% block title %}Task Detail{% endblock %}

{% block content %}
    <h1 class="mt-5">Task Detail</h1>

    <table class="table mt-3">
        <tr>
            <th>Title</th>
            <td>{{ task.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ task.description }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ task.status }}</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>{{ task.owner.username }}</td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ task.created_at }}</td>
        </tr>
    </table>

    <a href="{% url 'tasks:list_create' %}" class="btn btn-secondary">Back to Task List</a>
    <a href="{% url 'tasks:edit' pk=task.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'tasks:delete' pk=task.pk %}" class="btn btn-danger">Delete</a>
{% endblock %}
